Flask==3.0.3
Flask-Cors==4.0.0

pydantic==2.7.1
pydantic-core==2.18.2

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
joblib==1.4.2

# Optional but recommended for Windows when using pandas
python-dateutil==2.9.0.post0
pytz==2024.1
